/* Palette Couleur Momentum - Accent Colors */

.root {
    -color-accent-0: #F0F5FF;
    -color-accent-1: #D3F0FF;
    -color-accent-2: #C0E0FF;
    -color-accent-3: #8DAFFF;
    -color-accent-4: #6680FF;
    -color-accent-5: #4A5DEF;
    -color-accent-6: #3944D5;
    -color-accent-7: #2926BA;
    -color-accent-8: #1E009F;
    -color-accent-9: #170080;

    -color-accent-fg: #4A5DEF;
    -color-accent-emphasis: #4A5DEF;
    -color-accent-muted: rgba(57, 68, 213, 0.4);
}

/* SideBar */

.logo-button .image-view {
    -fx-opacity: 1.0 !important;
}

.sidebar {
    -fx-background-color: -color-base-0;
    -fx-border-color: -color-base-3;
    -fx-border-width: 0 1 0 0;
}

.nav-button {
    -fx-background-color: transparent;
    -fx-padding: 10 15 10 15;
    -fx-background-radius: 0;
    -fx-cursor: hand;

    -fx-border-width: 0 0 0 4;
    -fx-border-color: transparent;
    -fx-border-style: solid;
}

.nav-button .image-view {
    -fx-opacity: 0.65;
}

.nav-button:hover {
    -fx-opacity: 0.85;
}

.nav-active {
    -fx-border-width: 0 0 0 4;
    -fx-border-color: -color-accent-emphasis;
    -fx-border-style: solid;
}

.nav-active .image-view {
    -fx-opacity: 1.0;
}

.nav-label {
    -fx-text-fill: -color-fg-default;
    -fx-font-size: 13px;
    -fx-opacity: 0;
    -fx-managed: false;
}

.sidebar.expanded .nav-label {
    -fx-opacity: 1.0;
    -fx-managed: true;
}
